body{
    background-color: khaki;
}
h1{
    text-align: center;
    font-size: 50px;
}
h2{
    text-align: center;
    font-size: 40px;
}
.per{
    text-align: center;

}
.one{
    margin-left: 20px;
    font-size: 25px;
    border-radius: 10px;
    border-color: lightblue;
    background-color:lightblue;
}
.two{
    margin-left: 20px;
    font-size: 25px;
    border-radius: 10px;
    border-color:lightblue;
    background-color:lightblue;
}
.three{
    margin-left: 20px;
    font-size: 25px;
    border-radius: 10px;
    border-color: lightblue;
    background-color:lightblue;
  
}